Budgeteer/obj/
Budgeteer/bin/
packages/
Budgeteer.mspec/bin/
Budgeteer.mspec/obj/
Modules/History/obj/
Modules/Import/obj/
Common/obj/
BankModules/SparebankenSor/obj/
BankModules/SparebankenSor.Mspec/obj/
Common/bin/
Modules/History/bin/
Modules/Import/bin/
BankModules/SparebankenSor/bin/
BankModules/SparebankenSor.Mspec/bin/
